
.menubar {
  min-width: $menubar-min-width;
  max-width: $menubar-max-width;
  border-right: 0;
  background: $menubar-bg;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out;
}

.menubar-brand {
  display: block;
  padding: 1.15rem 1.5rem;
  color: #f8f9fa;
  font-size: 1.15rem;
  font-weight: 400;
  
  &:hover {
    text-decoration: none;
    color: #f8f9fa;
  }

  &:focus {
    outline: 0;
  }

  i {
    color: $primary;
    font-size: 1.5rem;
  }
}

.menubar-nav {
  padding-bottom: 3.5rem;
  padding-left: 0;
  list-style: none;
}

.menubar-header {
  padding: 1.125rem 1.5rem .375rem;
  background: transparent;
  color: #adb5bd;
  font-size: .75rem;
  text-transform: none;
}

.menubar-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: .75rem 1.5rem;
  color: $menubar-color;
  font-weight: 400;
  transition: background .1s ease-in-out;
  text-decoration: none;
  cursor: pointer;

  i {
    margin-right: .75rem;
    color: #fff;
    opacity: .3;
  }

  &:hover {
    color: #fff;
    background: darken($menubar-bg, 5%);
    text-decoration: none;
    
    i {
      color: #fff;
      opacity: .7;
    }
  }

  &:focus {
    outline: 0;
  }

}


.menubar-item {

  &.active>.menubar-link {
    color: #fff;
    background: darken($menubar-bg, 5%);

    i {
      color: #fff;
      opacity: .7;
    }
  }

  .small {
    color: #adb5bd;
  }
}



.menubar-dropdown {
  background: darken($menubar-bg, 2%);
}



// 二级菜单
.menubar-dropdown .menubar-link {
    padding: .625rem 1.5rem .625rem 2.75rem;
}

// 三级菜单
.menubar-dropdown .menubar-dropdown .menubar-link {
    padding: .625rem 1.5rem .625rem 3.625rem
}

// 四级菜单
.menubar-dropdown .menubar-dropdown .menubar-dropdown .menubar-link {
    padding: .625rem 1.5rem .625rem 4.5rem
}

// 菜单徽章
.menubar-badge {
  position: absolute;
  right: 15px;
  top: 14px
}

.menubar {
  // 有子菜单时显示一个向下的箭头
  & [data-toggle=collapse] {
    position: relative;

    &:before {
      position: absolute;
      top: 1.2rem;
      right: 1.5rem;
      display: inline-block;
      padding: 2px;
      border: solid;
      border-width: 0 .1rem .1rem 0;
      content: " ";
      transform: rotate(45deg);
      transition: all .2s ease-out;
    }
  }

  // 菜单项展开时箭头翻转
  & [aria-expanded=true]:before,
  & [data-toggle=collapse]:not(.collapsed):before {
    transform: rotate(-135deg);
    top: 1.4rem;
  }
} 

// 固定侧边菜单
.menubar-sticky {
  .menubar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: $menubar-max-width;
    height: 100vh;
    border-right: 0;
  }

  .menubar-nav {
    padding-bottom: 0;
  }
}

.menubar.toggled {
  margin-left: -$menubar-max-width;

  .menubar-content {
    left: -$menubar-max-width;
  }
}

// 响应式 md 屏幕隐藏侧边菜单 
// 屏幕小于等于 991.98px 时触发
@include media-breakpoint-down(md) {
  .menubar {
    margin-left: -$menubar-max-width;

    &.toggled {
      margin-left: 0;
    }
  }
}
