/*!
 * Dunwoo Admin - v1.0.2 (https://dunwoo.com/projects/dunwoo-admin)
 * Copyright 2019 Dunwoo (https://www.dunwoo.com)
 */

a:focus,
button:focus {
  outline: none !important;
}

#root, body, html {
  height: 100%;
}

.fe {
  font-size: 1.125rem;
}

.fe-lg {
  font-size: 2.25rem;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


.content {
  padding: 1.5rem;
}

.main {
  width: 100%;
  min-width: 0;
  min-height: 100vh; // 没有内容时元素高度会撑开与屏幕一致
  margin-left: $menubar-width;
  transition: margin-left .35s ease-in-out;
}

.main.toggled {
    margin-left: 0px;
  }

// 手机屏幕
@include media-breakpoint-down(sm) {
  .content {
      padding: 1rem;
  }
}


// x 轴滚动条
// 
.ps > .ps__rail-x {
  height: 4px;
  background: transparent;

  & > .ps__thumb-x {
    top: 0;
    height: 4px;
    border-radius: 4px;
    background: #d8dce6;
    opacity: 1;
  }

  &:hover,
  &:focus {
    height: 4px;
    opacity: 1;
    background: transparent !important;

    & > .ps__thumb-x {
      top: 0;
      height: 4px;
      opacity: 1;

      &:hover,
      &:focus {
        opacity: 1;
        background: #d8dce6;
      }
    } // end .ps__thumb-x

  } // end hover|focus
}

// y 轴滚动条
// 
.ps > .ps__rail-y {
  width: 4px;
  background: transparent;

  & > .ps__thumb-y {
    width: 4px;
    border-radius: 4px;
    background: #d8dce6;
    opacity: 1;
  }

  &:hover,
  &:focus {
    background: transparent !important;
    opacity: 1;

    & > .ps__thumb-y {
      width: 4px;
      opacity: 1;

      &:hover,
      &:focus {
        opacity: 1;
        background: #d8dce6;
      }
    } // end .ps__thumb-y

  } // end hover|focus
}