/*!
 * Dunwoo Admin - v1.0.1 (https://dunwoo.com/projects/dunwoo-admin)
 * Copyright 2019 Dunwoo (https://www.dunwoo.com)
 */

a:focus,
button:focus {
  outline: none !important;
}

#root, body, html {
  height: 100%;
}

.fe {
  font-size: 1.125rem;
}

.fe-lg {
  font-size: 2.25rem;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


.content {
  padding: 1.5rem;
}

.main {
  width: 100%;
  min-height: 100vh; // 没有内容时元素高度会撑开与屏幕一致
  min-width: 0;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out;
}

// 手机屏幕
@include media-breakpoint-down(sm) {
  .content {
      padding: 1rem;
  }
}
